[push]
	default = simple
        followTags = true
[alias]
	ci = commit
[gpg]
	program = gpg2
[gcrypt]
	publish-participants = true
[include]
	path = .gitconfig.user
[diff]
        compactionHeuristic = true
        algorithm = patience
        renames = copies
[merge]
        ff = only
[color]
        ui = auto
[transfer]
        fsckobjects = true
