[alias]
        ci = commit
[color]
        ui = auto
[diff]
        algorithm = patience
        compactionHeuristic = true
        renames = copies
[gcrypt]
        publish-participants = true
[gpg]
        program = gpg2
[include]
        path = .gitconfig.user
[merge]
        ff = only
[pull]
        ff = only
[push]
        default = simple
        followTags = true
[transfer]
        fsckobjects = true
